*{
	margin:0;
	padding:0;
}

.container{
	background-color: grey;
	width: 400px;
	height: 400px;
}

#text1{
	min-height: 12px;
	width: 99%;
	float: left;
}

#text2{
	min-height: 12px;
	width: 99%;
	float: left;
}

#text3{
	min-height: 12px;
	width: 99%;
	float: left;
}

#text4{
	min-height: 12px;
	width: 99%;
	float: left;
}

#botao1{
	min-height: 12px;
	width: 100%;
	float: left;
}

#botao2{
	min-height: 12px;
	width: 100%;
	float: left;
}

#botao3{
	min-height: 12px;
	width: 100%;
	float: left;
}

#botao4{
	min-height: 12px;
	width: 100%;
	float: left;
}

#botaoOK{
	min-height: 12px;
	width: 100%;
	float: left;
}